html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.secondary-reveal,
.main-heading {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 1.5s;
  /* transform: translateY(-3em); */
}
.image {
  opacity: 0.1;
}
